login-page {
	.login-content {
		background-color: color($colors, background, base);
		.intro-image-row
		{
			@include justify-content(center);
			margin-top: 20px;
			margin-top: 5vh;
		}

		.img-logo {
			text-align: center;
			@include justify-content(center);
		}

		.main-title
		{
			margin: 15px 20px 20px;
			font-size: 2rem;
			font-weight: 600;
			font-style: italic;
			text-align: center;
			color: #387ef5;
		}

		.login-content
		{
			.alt-options
			{
				.button
				{
					margin: 0px;
					padding: 0px;
					font-size: 1.4rem;
					text-transform: none;
				}

				.forgot-button
				{
					color: $white-d;

					.button-inner
					{
						@include justify-content(flex-end);
					}
				}

				.signup-button
				{
					font-weight: 500;
					color: $theme-color-2;

					.button-inner
					{
						@include justify-content(flex-end);
					}
				}
			}
		}
	}

}
