member-page {
  .members-content {
    background-color: color($colors, background, base);

    .fix-border  {
      .item-inner {
        border-top: 0.55px solid #c8c7cc;
      }
    }

    .img-avatar {
    		@include justify-content(center);
    		margin-top: 15px;
    		margin-top: 5vh;
    }

    .no-border {
      .item-inner {
        border-bottom: none !important;
      }
    }


  }
}
