changePassword-page {  

  .profile-content {
    background-color: color($colors, background, base);

    .center {
      text-align: center;
    }

    .page-wrapper {
      padding-top: 15vh;
      padding-left: 9px;
      padding-right: 9px;
    }
  }
}
